@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

/* body {
  margin: 0;
  padding: 0;
}

.cont {
  width: calc(100vw - 3px);
} */

/* ::-webkit-scrollbar {
  display: none;
} */

/* @layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-comfortaa);
  }
} */
/* 
body {
  overflow: hidden;
} */

/* .hero img {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
} */

.bnw {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.carousel::-webkit-scrollbar {
  display: none;
  width: 0px;
}

.carousel::-webkit-scrollbar-track {
  background: transparent;
}

.carousel::-webkit-scrollbar-thumb {
  background: transparent;
  border: none;
}

.carousel {
  scrollbar-color: transparent;
  scrollbar-width: none;
}

.slide {
  opacity: 0;
}

/* input[type="radio"]:checked ~ label.ella {
  @apply bg-gradient-primary;
} */

/* .slide:checked + label {
  @apply bg-gradient-primary;
 opacity: 100; 
} */
